# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

!firebase.json

# Misc
*.log
__pycache__/
*.pyc
scanner/myenv/
scanner/__pycache__/
*.pyc
scanner/labnguardian_data/
*.py[cod]
__pycache__
scanner/__pycache__/scan_network_api.cpython-313.pyc